body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	
	background-color: rgb(210, 255, 210);
	
}

p {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

h1 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 50px;
	color: rgb(106, 123, 79);
	
	
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
li {
	float:left;
}
#topmenu a:link, #topmenu a:visited {
	display:block;
	font-weight:bold;
	color:#FFFFFF;
	background-color:rgb(164, 207, 99);
	text-align:center;
	padding:6.4px;
	text-decoration:none;
	text-transform:uppercase;
}
#topmenu a:hover, #topmenu a:active {
	color:#BF0000;;
}
